$menu-bg-color: #252527;
$main-bg-color: #1e1e1e;
$menu-hover: #3f3f47;
$menu-selected: #094873;
$title-bg-color: #3e3e3e;
$footer-bg-color: #037acc;

$header-text-color: #a3a3a3;
$white-text-color: #cccccc;

// faces
#front-face-check:checked ~ div.container div {
  &.sidebar > ul > li:nth-child(1) > ul > li:nth-child(1) > label {
    background-color: $menu-selected;
  }
  &.header h1::before {
    content: "Contact - About me - ";
  }
}

#right-face-check:checked ~ div.container div {
  &.content-wrapper {
    transform: translate(-50%) rotateY(-90deg);
  }
  &.sidebar > ul > li:nth-child(1) > ul > li:nth-child(2) > label {
    background-color: $menu-selected;
  }
  &.header h1::before {
    content: "C.V. - About me - ";
  }
}

#back-face-check:checked ~ div.container div {
  &.content-wrapper {
    transform: translate(-50%) rotateY(-90deg) rotateY(-90deg) translate(-50%);
  }
  &.sidebar > ul > li:nth-child(2) > ul > li:nth-child(1) > label {
    background-color: $menu-selected;
  }
  &.header h1::before {
    content: "CSS - Portfolio - ";
  }
}
#top-face-check:checked ~ div.container div {
  &.content-wrapper {
    transform: translate(0, 50%) rotatex(-90deg);
  }
  &.sidebar > ul > li:nth-child(2) > ul > li:nth-child(2) > label {
    background-color: $menu-selected;
  }
  &.header h1::before {
    content: "JavaScript - Portfolio - ";
  }
}
#bottom-face-check-index:checked ~ div.container div {
  &.content-wrapper {
    transform: translate(0, -50%) rotatex(90deg);
  }
  &.sidebar > ul > li:nth-child(3) > ul > li:nth-child(1) > label {
    background-color: $menu-selected;
  }
  &.header h1::before {
    content: "Source - Index.html - Portfolio - ";
  }
  & #html-code-showcase {
    display: block;
  }
}

#bottom-face-check-styles:checked ~ div.container div {
  &.content-wrapper {
    transform: translate(0, -50%) rotatex(90deg);
  }
  &.sidebar > ul > li:nth-child(3) > ul > li:nth-child(2) > label {
    background-color: $menu-selected;
  }
  &.header h1::before {
    content: "Source - Styles.sass - Portfolio - ";
  }
  & #css-code-showcase {
    display: block;
  }
}

#bottom-face-check-main:checked ~ div.container div {
  &.content-wrapper {
    transform: translate(0, -50%) rotatex(90deg);
  }
  &.sidebar > ul > li:nth-child(3) > ul > li:nth-child(3) > label {
    background-color: $menu-selected;
  }
  &.header h1::before {
    content: "Source - Main.js - Portfolio - ";
  }
  & #main-code-showcase {
    display: block;
  }
}
// Menu behaviour

// burger---

.burger {
  cursor: pointer;
  z-index: 5;
  height: 16px;
  width: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  & span {
    border-radius: 2px;
    height: 0.3rem;
    margin-block-end: 0.2rem;
    width: 80%;
    background: $white-text-color;
    border-radius: 5% / 50%;
    transition: 0.25s ease-in-out;
    &:nth-child(1) {
      transform: translatey(5px) rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: translatey(-5px) rotate(-45deg);
    }
  }
}

#main-extend:checked ~ div.container {
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "content"
    "footer";
  & div.header > label div.burger span {
    transform: none;
    opacity: 1;
  }
  & div.sidebar {
    display: none;
  }
}
#about-me-extend:checked ~ div.container div.sidebar ul.main-menu {
  & ul.about-me-menu {
    display: none;
  }
  & li:nth-child(1) i {
    transform: none;
  }
}
#portfolio-extend:checked ~ div.container div.sidebar ul.main-menu {
  & ul.portfolio-menu {
    display: none;
  }
  & li:nth-child(2) i {
    transform: none;
  }
}
#source-extend:checked ~ div.container div.sidebar ul.main-menu {
  & ul.source-menu {
    display: none;
  }
  & li:nth-child(3) i {
    transform: none;
  }
}
